.scroll {
  display: flex;
  width: auto;
  white-space: nowrap;
}

@keyframes marqP {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.text {
  will-change: transform;
  margin: 0;
  padding: 0;
  color: white;
  font-size: clamp(20px, 1.5vw, 30px) !important;
  font-family: 'Unbounded-Black', sans-serif !important;
  animation: marqP 40s linear infinite;
}

.scrollHolder{
  position: relative;
  overflow: hidden;
  display: flex;
}