.dflex {
  display: flex;
  width: 1200px; 
}

.marquee {
  width: auto;  /* each marquee container takes up half the width of the flex container, i.e., the full width of the screen */
  white-space: pre;
  animation: marquee 175s linear infinite;
  background: white;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }

}
.marqP{
  margin: 0;
  color: white;
  font-size: clamp(20px, 1.5vw, 30px) !important;
  font-family: 'Unbounded-Black', sans-serif !important;
}


