.projectMain {
    position: relative;
    padding-top: 74px;
    background-color: #000000;
    height: calc(400px + 10vw);
    min-height: 525px;
}

.myBtmRightImg {
    position: absolute;
    top: 19vh;
    right: 0;
    width: 37vw; 
    margin-bottom: -125px;
}

@media (max-width: 766px) {
    .myBtmRightImg {
        display: none; 
    }
    .fme {
        max-width: 100vw !important;
    }
}

.myBtmLeftImg {
    margin-left: calc(-15vw - 20px);
}

.fme {
    max-width: calc(100vw * .5833333);
}

@media (min-width: 85px) {
    .projectMain {
        height: calc(500px + 10vw);
    }
}

@media (min-width: 1300px) {
    .projectMain {
        height: calc(600px + 10vw);
    }
}

@media (min-width: 1700px) {
    .projectMain {
        height: calc(700px + 10vw);
    }
}

.firstDescription {
    margin-top: 4vw;
}
.progsUsed{
    margin-top: 15vw;
}


@media (max-width: 1742px) {
    .progsUsed{
        margin-top: 13vw;
    } 
}

@media (max-width: 1550px) {
    .progsUsed{
        margin-top: 11vw;
    }
}
@media (max-width: 1500px) {
    .progsUsed{
        margin-top: 9vw;
    } 
}

@media (max-width: 1250px) {
    .progsUsed{
        margin-top: 7vw;
    } 
}

@media (max-width: 1000px) {
    .progsUsed{
        margin-top: 5vw;
    }
}