
.testingBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.wordContainer {
  position: relative;
  width: auto;
  display: inline-block;
}

.testing {
  position: absolute;
  color: black;
  transition: opacity 1s;
  left: 0;
}

.testingGradient {
  position: relative;
  background: var(--textGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
